<!DOCTYPE html>
<html>
<head>
    <title>RDAP Conformance Tool</title>
    <!-- Include Vue.js -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <style>
      body ul {
            margin-top: 10px !important;
            margin-bottom: 10px !important;
            margin-left: 20px !important;
        }
        .tabs {
            display: flex;
            gap: 10px;
        }

        button {
            padding: 10px;
            border: none;
            cursor: pointer;
        }

        button.active {
            background-color: #ddd;
        }

        .tab-content {
            margin-top: 20px;
        }

        .tabs {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        .tabs button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        .tabs button:hover {
            background-color: #ddd;
        }

        .tabs button.active {
            background-color: #ccc;
        }

        .warning-class {
            color: orange;
        }

        .group-warning-class {
            padding: 10px;
            color: orange;
        }

        .error-class {
            color: red;
        }

        .good-class {
            padding: 10px;
            color: rgb(29, 132, 29);
        }

        /* strong {
            color: rgb(63, 60, 60);
        } */

        .warning-class > .block-container {
            border: 1px solid #1a1919;
            padding: 5px;
        }

        .error-class > .block-container {
            border: 1px solid #1a1919;
            padding: 5px;
        }

        .group-warning-class > p {
            /* border: 1px solid #1a1919; */
            padding: 5px;
            padding-left: 10px;
        }

        .good-class > p {
            /* border-bottom: 1px solid #1a1919; */
            padding: 5px;
            padding-left: 10px;
        }

        li.good-class {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        li.group-warning-class {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .block-container {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        

        .odd-class .block-container {
            background-color: #ffffff; /* white */
        }

        .even-class .block-container {
            background-color: #efecec; /* grey */
        }


        .key-large-font {
            font-size: 18px;
        }

        .topheader-label {
            font-weight: bold;
            font-size: 18px;
        }

        .result-toplevel {
            margin: 5px;
            font-size: 17px;
            font-weight: bold;
        }

        .result-secondlevel {
            margin: 5px;
            margin-left: 10px;
            font-size: 15px;
            font-weight: bold;
        }


    </style>
</head>
<body class="bg-gray-100 h-screen antialiased leading-none">
  <div id="app" class="container mx-auto px-4 pt-10 mb-8">
    <h1 class="text-4xl mb-4 text-blue-500">RDAP Conformance Tool</h1>
    <p class="text-lg mb-8">Welcome to RDAP Conformance</p>
    <form @submit.prevent="submitForm" class="mb-8">
        <label for="url" class="block mb-2">URL:</label>
        <input type="text" id="url" v-model="url" class="border p-4 h-12 w-full">
        <br>
        <div class="flex space-x-4 mt-4">
            <div>
                <label for="gltdRegistrar" class="block mb-2">GltdRegistrar:</label>
                <input type="checkbox" id="gltdRegistrar" v-model="gltdRegistrar" @change="console.log('gltdRegistrar:', gltdRegistrar)" class="mb-4">
            </div>
            <div>
                <label for="gltdRegistry" class="block mb-2">GltdRegistry:</label>
                <input type="checkbox" id="gltdRegistry" v-model="gltdRegistry" @change="console.log('gltdRegistry:', gltdRegistry)" class="mb-4">
            </div>
            <div>
                <label for="thin" class="block mb-2">Thin:</label>
                <input type="checkbox" id="thin" v-model="thin" @change="console.log('thin:', thin)" class="mb-4" :disabled="!gltdRegistry">
            </div>
        </div>
        <div class="flex justify-start" v-if="!isLoading">
            <input type="reset" value="Clear" @click="clearResponse" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-6 mr-4">
            <input type="submit" value="Submit" :disabled="isLoading" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6">
            <button v-if="activeTab === 'json' && showCopyButton" @click.prevent="copyAndSetCopied" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6 ml-4" :class="{ 'bg-gray-500': copied }">{{ copied ? 'Copied' : 'Copy' }}</button>
        </div>
        <span v-if="isLoading" class="block mt-4">Loading...</span>
    </form>

    <div class="tabs">
        <button v-bind:class="{ active: activeTab === 'html' }" v-on:click="activeTab = 'html'">HTML</button>
        <button v-bind:class="{ active: activeTab === 'json' }" v-on:click="activeTab = 'json'">JSON</button>
    </div>

    <div v-if="activeTab === 'html'" class="tab-content bg-white border border-gray-300 p-4">
       <div v-if="hasData">
            <div class="topheader-info grid grid-cols-6 gap-y-2">
                <div class="topheader-label">TestedDate:</div> <div>{{ state.testedDate }}</div> <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div>
                <div class="topheader-label">URI:</div> <div>{{ state.testedURI }}</div> <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div>
                <div class="topheader-label">StatusCode:</div> <div>{{ state.receivedHttpStatusCode }}</div> <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div>
                <div class="topheader-label">StatusCode:</div> <div>{{ state.definitionIdentifier }}</div> <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div>
            </div>

            <div>
                <span class="result-toplevel">GroupOK: {{ state.groupOKCount }}</span>
                <div v-for="(item, index) in state.groupOK" :key="index" v-if="state.groupOK.length">
                    <p class="good-class"> {{ index + 1 }}: {{ item }} </p>
                </div>
            </div>
            <div>
                <span class="result-toplevel">GroupErrorWarning: {{ state.groupErrorWarningCount }}</span>
                <div v-for="(item, index) in state.groupErrorWarning" :key="index" v-if="state.groupErrorWarning.length">
                    <p class="group-warning-class"> {{ index + 1 }}: {{ item }} </p>
                </div>
            </div>
            <!--  Warnings -->
            <div class="">
                <div class="result-toplevel">Results:
                    <div class="result-secondlevel">Warnings: {{ state.warningCount }}</div>
                    <!--  Warnings -->
                    <div v-for="(item, index) in state.results.warning" :key="index" v-if="state.results.warning.length" :class="index % 2 === 0 ? 'even-class' : 'odd-class'">
                        <div class="warning-class">
                            <!-- each item is an object -->
                            <div class="block-container">
                                <div v-for="(value, key) in item" :key="key">
                                    <span><strong>{{ key }}:</strong>{{ value }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Errors -->
                    <div class="result-secondlevel">Errors: {{ state.errorCount }}</div>
                    <div v-for="(item, index) in state.results.error" :key="index" v-if="state.results.error.length" :class="index % 2 === 0 ? 'even-class' : 'odd-class'">
                        <div class="error-class">
                            <div class="block-container">
                                <div v-for="(value, key) in item" :key="key">
                                    <span><strong>{{ key }}:</strong>{{ value }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
    </div>
    
    <div v-if="activeTab === 'json' && hasData" class="tab-content bg-white border border-gray-300 p-4">
        <pre><code class="json" v-html="highlightedServerResponse"></code></pre>
    </div>
</div>
</body>

  <script>
     const { ref, computed, watch, onMounted, reactive } = Vue;
    
    const app = Vue.createApp({
        setup() {
            const state = reactive({
                testedDate: '',
                groupOK: [],
                groupOKCount: 0, 
                definitionIdentifier: '',
                groupErrorWarning: [],
                groupErrorWarningCount: 0, 
                results: {},
                resultsCount: 0,
                testedURI: '',
                warningCount: 0,
                errorCount: 0,
                someData: 'Hello World',
            });
            const url = ref('');
            const serverResponse = ref('');
            const isLoading = ref(false);
            const hasData = ref(false);
            const gltdRegistrar = ref(false);
            const gltdRegistry = ref(false);
            const thin = ref(false);
            const htmlServerResponse = ref('');
            const activeTab = ref('html');
            const copied = ref(false);
            const showCopyButton = ref(false);
    
            const formattedServerResponse = computed(() => {
                try {
                    let parsedResponse = JSON.parse(serverResponse.value);
                    if (parsedResponse.data) {
                        return parsedResponse.data;
                    }
                    console.log('nope, not got it: ', parsedResponse);
                    return JSON.stringify(parsedResponse, null, 2); // stringify with indentation
                } catch(e) {
                    return serverResponse.value;
                }
            });

          
            function jsonToHtml(json, depth = 0) {
                console.log('jsonToHtml called');
                if (depth > 5) {
                    return '<li>Recursion limit reached</li>';
                }
                let html = '<ul class="alternating-colors block-container">';
                for (let key in json) {
                    let className = '';  // Reset className at the start of each iteration
                    if (key === 'warning') {
                        className = 'warning-class';
                    } else if (key === 'error') {
                        className = 'error-class';
                    } else if (key === 'groupErrorWarning') {
                        className = 'group-warning-class';
                    } else if (key === 'groupOK') {
                        className = 'good-class';
                    }
                    html += `<li class="${className}">`;

                    // Check if the key is 'testedURI' or 'receivedHttpStatusCode'
                    if (key === 'testedURI' || key === 'receivedHttpStatusCode' || key === "definitionIdentifier") {
                        html += `<strong class="key-large-font">${escapeHtml(key)}: </strong>`;
                    } else {
                        html += `<strong>${escapeHtml(key)}: </strong>`;
                    }
                    if (Array.isArray(json[key])) {
                        for (let value of json[key]) {
                            if (typeof value === 'object' && value !== null) {
                                html += jsonToHtml(value, depth + 1);
                            } else {
                                html += '<p>' + escapeHtml(String(value)) + '</p>';  // Wrap the value with a paragraph
                            }
                        }
                    } else if (typeof json[key] === 'object' && json[key] !== null && !(json[key] instanceof String)) {
                        html += jsonToHtml(json[key], depth + 1);
                    } else {
                        html += escapeHtml(String(json[key]));
                    }
                    html += '</li>';
                }
                html += '</ul>';
                return html;
            }

            function escapeHtml(html) {
                return html.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            }

            // const highlightedServerResponse = computed(() => {
            //     if (formattedServerResponse.value) {
            //         try {
            //             // Parse the JSON string to an object
            //             const jsonObject = JSON.parse(formattedServerResponse.value);

            //             // Stringify the object to a pretty-printed JSON string
            //             const prettyJson = JSON.stringify(jsonObject, null, 2);

            //             // Escape HTML and highlight the JSON
            //             const escapedCode = escapeHtml(prettyJson);
            //             return hljs.highlight(escapedCode, {language: 'json'}).value;
            //         } catch (e) {
            //             console.error('Error parsing JSON:', e);
            //             return '';
            //         }
            //     } else {
            //         return '';
            //     }
            // });

            const highlightedServerResponse = computed(() => {
                console.log('[highlightedServerResponse]formattedServerResponse:', formattedServerResponse.value);
                if (formattedServerResponse.value) {
                    try {
                        // Parse the JSON string to an object
                        const jsonObject = JSON.parse(formattedServerResponse.value);

                        // Stringify the object to a pretty-printed JSON string
                        const prettyJson = JSON.stringify(jsonObject, null, 2);

                        // Escape HTML and highlight the JSON
                        const escapedCode = escapeHtml(prettyJson);
                        return hljs.highlight('json', escapedCode).value;
                    } catch (e) {
                        console.error('Error parsing JSON:', e);
                        return '';
                    }
                } else {
                    return '';
                }
            });
    
            // Our Logic for the button choosing
            watch(gltdRegistrar, (newVal) => {
                if (newVal) {
                    gltdRegistry.value = false;
                }
            });

            watch(gltdRegistry, (newVal) => {
                if (newVal) {
                    gltdRegistrar.value = false;
                }
                if (!newVal) {
                    thin.value = false;
                }
            });
            
            watch(gltdRegistry, (newVal) => {
                if (!newVal) {
                    thin.value = false;
                }
            });

            watch(formattedServerResponse, () => {
                Vue.nextTick(() => {
                    highlightCode();
                });
            });

            watch(activeTab, (newVal, oldVal) => {
                if (newVal === 'json') {
                    console.log('JSON tab is active');
                    showCopyButton.value = true; // show the button when JSON tab is active
                } else {
                    console.log('HTML tab is active');
                    showCopyButton.value = false; // hide the button for other tabs
                }
            });
    
            const highlightCode = () => {
               document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightElement(block);
               });
            };

            const clearResponse = () => {
                serverResponse.value = '';
                htmlServerResponse.value = '';
                highlightedServerResponse.value = '';
                copied.value = false;
                showCopyButton.value = false;
                hasData.value = false;

                // Reset the state object
                state.testedDate = '';
                state.groupOK = [];
                state.definitionIdentifier = '';
                state.groupErrorWarning = [];
                state.results = {};
                state.testedURI = '';
                
            };
    
            const submitForm = () => {
                if (!url.value) {
                    console.error('URL is required');
                    return;
                }

                isLoading.value = true;

                console.log('gltdRegistrarValue:', gltdRegistrar);
                const urlValue = encodeURIComponent(url.value);
                const gltdRegistrarValue = gltdRegistrar.value ? 1 : 0;
                const gltdRegistryValue = gltdRegistry.value ? 1 : 0;
                const thinValue = thin.value ? 1 : 0;

                console.log('urlValue:', urlValue);
                console.log('gltdRegistrarValue:', gltdRegistrarValue);
                console.log('gltdRegistryValue:', gltdRegistryValue);
                console.log('thinValue:', thinValue);

                const body = `url=${urlValue}&gltdRegistrar=${gltdRegistrarValue}&gltdRegistry=${gltdRegistryValue}&thin=${thinValue}`;

                fetch('/check', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: body,
                })
                .then(response => response.json())
                .then(data => {
                    serverResponse.value = JSON.stringify(data);
                    isLoading.value = false;
                    formattedServerResponse.value = serverResponse.value;
                    console.log("GAH:", formattedServerResponse.value);

                    let parsedResponse = JSON.parse(serverResponse.value);
                    if (typeof parsedResponse.data === 'string') {
                        try {
                            parsedResponse.data = JSON.parse(parsedResponse.data);
                            hasData.value = true;
                            
                            let html = jsonToHtml(parsedResponse.data);
                            htmlServerResponse.value = html;

                            // Break the top-level keys into different variables
                            state.testedDate = parsedResponse.data.testedDate;
                            state.groupOK = parsedResponse.data.groupOK;
                            state.definitionIdentifier = parsedResponse.data.definitionIdentifier;
                            state.groupErrorWarning = parsedResponse.data.groupErrorWarning;
                            state.results = parsedResponse.data.results;
                            console.log('state.results:', state.results);
                            state.testedURI = parsedResponse.data.testedURI;
                            state.receivedHttpStatusCode = parsedResponse.data.receivedHttpStatusCode;
                            // all the counts
                            state.groupOKCount = state.groupOK.length; // Add this line
                            state.groupErrorWarningCount = state.groupErrorWarning.length; // Add this line
                            state.resultsCount = Object.keys(state.results).length; // Add this line
                            state.warningCount = parsedResponse.data.results.warning.length;
                            state.errorCount = parsedResponse.data.results.error.length;
                        } catch (e) {
                            console.error('Error parsing data property:', e);
                        }
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            };

            onMounted(() => {
                hljs.highlightAll();
            });

            const copyToClipboard = () => {
                try {
                    // This is NUTS but we ALREADY stringified the serverResponse
                    // but we are doing this again so we can be sure we get the
                    // pretty-printed JSON

                    // Parse the JSON string to an object
                    const jsonObject = JSON.parse(serverResponse.value);

                    // Parse the data property back to an object
                    jsonObject.data = JSON.parse(jsonObject.data);

                    // Stringify the object to a pretty-printed JSON string
                    const prettyJson = JSON.stringify(jsonObject, null, 2);

                    // Copy the pretty-printed JSON to the clipboard
                    navigator.clipboard.writeText(prettyJson)
                        .then(() => {
                            console.log('Copying PPJson to clipboard was successful!');
                        }, err => {
                            console.error('Could not copy PPJson text: ', err);
                        });
                } catch (e) {
                    console.error('Error parsing JSON:', e);
                }
            };

            const copyAndSetCopied = () => {
                copyToClipboard();
                copied.value = true;
            };

    
            return {
                url,
                serverResponse,
                isLoading,
                hasData,
                formattedServerResponse,
                highlightedServerResponse,
                highlightCode,
                clearResponse,
                submitForm,
                gltdRegistrar,
                gltdRegistry,
                thin,
                htmlServerResponse,
                activeTab,
                copyToClipboard,
                copied,
                copyAndSetCopied,
                showCopyButton,
                state
            };
        }
    });
    
    app.mount('#app');
  </script>
</html>